In [3]:
import numpy as np
import pandas as pd

from pyequion import EquilibriumSystem
from pyequion import InterfaceSystem

ImportError: cannot import name 'EquilibriumSystem' from 'pyequion' (unknown location)

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
intsys = InterfaceSystem(['Ca', 'C', 'Mg'], from_elements=True,
                         activity_model="PITZER")
elements_balance = {'Ca':0.028, 'C':0.065, 'Mg':0.028}
#species_balance = {'Ca++':0.028, 'Cl-':0.056, 'Na+':0.075, 'HCO3-':0.065}
TK = 298.15
solution,res = intsys.solve_equilibrium_elements_balance(TK, elements_balance, tol=1e-12)

In [4]:
solution.molals

{'Mg++': 0.011372064075482365,
 'Ca++': 0.007658004273658868,
 'HCO3-': 0.016704118301101252,
 'OH-': 8.51072234161238e-05,
 'H+': 2.0873751162285853e-10,
 'CO2': 4.766496337681292e-06,
 'CaOH+': 3.995167362519501e-06,
 'MgOH+': 0.00012244862790588356,
 'CaHCO3+': 0.0006554775568322567,
 'CO3--': 0.011447627346970694,
 'CaCO3': 0.01968252300214636,
 'MgCO3': 0.01566306533727362,
 'MgHCO3+': 0.0008424219593381307}

In [5]:
intsys.formula_matrix

array([[ 2,  0,  0,  1,  1,  1,  0,  1,  1,  1,  0,  0,  0,  1],
       [ 1,  0,  0,  3,  1,  0,  2,  1,  1,  3,  3,  3,  3,  3],
       [ 0,  0,  1,  0,  0,  0,  0,  1,  0,  1,  0,  1,  0,  0],
       [ 0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  1],
       [ 0,  0,  0,  1,  0,  0,  1,  0,  0,  1,  1,  1,  1,  1],
       [ 0,  2,  2, -1, -1,  1,  0,  1,  1,  1, -2,  0,  0,  1]])

In [6]:
intsys.extended_elements

['H', 'O', 'Ca', 'Mg', 'C', 'e']

In [8]:
formula_table = pd.DataFrame(data=intsys.formula_matrix,
                             index=intsys.extended_elements,
                             columns=intsys.species)

In [10]:
formula_table

,H2O,Mg++,Ca++,HCO3-,OH-,H+,CO2,CaOH+,MgOH+,CaHCO3+,CO3--,CaCO3,MgCO3,MgHCO3+
H,2,0,0,1,1,1,0,1,1,1,0,0,0,1
O,1,0,0,3,1,0,2,1,1,3,3,3,3,3
Ca,0,0,1,0,0,0,0,1,0,1,0,1,0,0
Mg,0,1,0,0,0,0,0,0,1,0,0,0,1,1
C,0,0,0,1,0,0,1,0,0,1,1,1,1,1
e,0,2,2,-1,-1,1,0,1,1,1,-2,0,0,1

In [11]:
formula_table.iloc[2:, :]

,H2O,Mg++,Ca++,HCO3-,OH-,H+,CO2,CaOH+,MgOH+,CaHCO3+,CO3--,CaCO3,MgCO3,MgHCO3+
Ca,0,0,1,0,0,0,0,1,0,1,0,1,0,0
Mg,0,1,0,0,0,0,0,0,1,0,0,0,1,1
C,0,0,0,1,0,0,1,0,0,1,1,1,1,1
e,0,2,2,-1,-1,1,0,1,1,1,-2,0,0,1

In [9]:
formula_table.iloc[2:, 1:]

,Mg++,Ca++,HCO3-,OH-,H+,CO2,CaOH+,MgOH+,CaHCO3+,CO3--,CaCO3,MgCO3,MgHCO3+
Ca,0,1,0,0,0,0,1,0,1,0,1,0,0
Mg,1,0,0,0,0,0,0,1,0,0,0,1,1
C,0,0,1,0,0,1,0,0,1,1,1,1,1
e,2,2,-1,-1,1,0,1,1,1,-2,0,0,1

In [30]:
stoich_table = pd.DataFrame(data=intsys.stoich_matrix,
                             columns=intsys.species)

solid_stoich_table = pd.DataFrame(data=intsys.solid_stoich_matrix,
                                  columns=intsys.species,
                                  index=intsys.solid_phase_names)

In [31]:
stoich_table

,H2O,Mg++,Ca++,HCO3-,OH-,H+,CO2,CaOH+,MgOH+,CaHCO3+,CO3--,CaCO3,MgCO3,MgHCO3+
0,-1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-1.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-1.0,0.0,-1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-1.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0
6,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,0.0
7,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,1.0,0.0
8,0.0,-1.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,1.0

In [32]:
solid_stoich_table

,H2O,Mg++,Ca++,HCO3-,OH-,H+,CO2,CaOH+,MgOH+,CaHCO3+,CO3--,CaCO3,MgCO3,MgHCO3+
Calcite,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Aragonite,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Vaterite,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Dolomite,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0

In [33]:
solid_stoich_table.loc[['Calcite', 'Dolomite'], solid_stoich_table.columns]

,H2O,Mg++,Ca++,HCO3-,OH-,H+,CO2,CaOH+,MgOH+,CaHCO3+,CO3--,CaCO3,MgCO3,MgHCO3+
Calcite,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Dolomite,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0

In [ ]:
solid_stoich_table = pd.DataFrame(data=intsys.solid_stoich_matrix,
                                  columns=intsys.species,
                                  index=intsys.solid_phase_names)